<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="PwdSystemCenterEntities" connectionString="metadata=res://*/PwdCenter.csdl|res://*/PwdCenter.ssdl|res://*/PwdCenter.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=94.191.6.108;initial catalog=PwdSystemCenter;persist security info=True;user id=sa;password=12?ASC434389;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>